<html>

<head>
  <title>
    File Uploader
  </title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>
  <%- include("user-header.ejs") %>
</body>

</html>
</body>

</html>